 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


.banner {
    display:block;
    height:400px;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
    padding: 3.6em 1em;
    text-shadow: 2px 1px 4px white;
}

.featured-items,
.feature-descriptions {
    max-width: 980px;
    margin: 0 auto;
}

.featured-items .item {
    margin: 1em 0.5em;
    text-align: center;
}

.featured-items .item header {
    background: black;
    color: white;
    padding-bottom: 2em;
}

.featured-items .item .price {
    font-size: 6em;
    font-weight: bold;
}

.featured-items .item .price span {
    display: block;
    font-size: 1rem;
}

.featured-items .item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.featured-items .item ul {
    list-style: none;
    padding: 0;
}

.featured-items .item ul li {
    padding: 1em 0;
}

.featured-items .item ul li + li {
    border-top: 1px solid rgba(0,0,0,0.15);
}

.feature-descriptions .description {
    line-height: 1.6;
    padding: 2em;
}

.feature-descriptions .description h3 {
    text-transform: uppercase;
}

footer {
    background: #111;
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-flex;
}