{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="posts">
                <h1 class="content-subhead">{{ page.header.title }}</h1>
<section class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.header.title }}</h2>	
  </header>
  {{ content }}
  {% include "forms/form.html.twig" %}
</section>
</div>
{% endblock %}
