{% extends 'partials/base.html.twig' %}
{% block content %}
<section class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.header.title }}</h2>	
  </header>
  {{ content }}
  {% include "forms/form.html.twig" %}
</section>
{% endblock %}
